@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/functions';

.feed {
  color: getColor(base);

  &__item {
    @include margin-bottom(1);
    @include padding-equal(1);
    background-color: getColor('white');
    border-radius: 3px;

    &:last-child {
      @include margin-bottom(0.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(0.5);

      &-link {
        color: getColor(base);

        &:hover,
        &:focus {
          color: getColor(base);
          border-bottom: 1px solid getColor(base);
        }
      }
    }

    &-description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(0);
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: getColor(base);
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: getColor(secondary);
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: getColor(primary);
          }
        }
      }
    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: getColor(primary);

      &:hover,
      &:focus {
        color: getColor(primary);
        border-bottom: 1px solid getColor(primary);
      }
    }
  }
}
