node_modules/
jspm_packages
.npm
.astro/
dist/
.cache/
public/*
!public/icons/
!public/logos/
!public/_headers
!public/_worker.js
!public/icons/favicon.svg
public/logos/*
!public/logos/logo-1024.png
!public/logos/logo-48.png
coverage
.nyc_output
logs
*.log
*.pid
*.pid.lock
*.seed
.eslintcache
.gatsby-context.js
.idea
.node_repl_history
.yarn-integrity
bundle-stats.json
build/Release
lib-cov
.grunt
.lock-wscript
*.tgz
gatsby-starter-lumen.iml
content/.DS_Store
content/**/.DS_Store
