@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.subscribe {
  color: map-get($colors, 'white');
  max-width: 350px;
  background: map-get($colors, primary);
  background-image: 'linear-gradient(-213deg, #5e31dc 0%, #3155dc 100%), linear-gradient(32deg, rgba(255, 255, 255, 0.25) 33%, rgba(0, 0, 0, 0.25) 100%)';
  border-radius: 5px;
  &__header {
    margin-bottom: 1px;
    margin-top: 0;
    color: map-get($colors, 'white');
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  &__inputwrapper {
    width: 100%;
    margin: 10px 0;
  }

  &__label {
    margin: 20px 0;
  }

  &__input {
    padding: 10px;
    box-sizing: border-box;
  }

  &__input,
  &__label {
    width: 100%;
    font-size: 16px;
  }

  &__button {
    margin-top: 20px;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px 30px;
    background-color: map-get($colors, secondary);
    color: map-get($colors, 'white');
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: map-get($colors, 'white');
      color: map-get($colors, secondary);
      border: 1px solid map-get($colors, secondary);
    }
  }
}

@include breakpoint-sm {
  .subscribe {
    flex-direction: column;
    align-items: flex-start;

    &__label,
    &__input {
      margin: 5px 0 0 0;
      border-radius: 3px;
      border: none;
    }
  }
}
