@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  
  &__main {
    lost-center: $layout-width;
    min-height: calc(100vh - 275px);
  }

  &__toggle-switch {
    max-width: $layout-post-width;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
  }

  &__scroll {
    float: right;
    @include margin(0, 1.5, 2);

    &-button {
      color: $color-white;
      background-color: $color-primary;
      @include padding(0.5, 0.5);
      font-weight: 500;
      border: none;
      border-radius: 20px;
      outline: none;
      cursor: pointer;

      &:hover,
      &:focus {
        box-shadow: 5px 5px 15px 0 lighten($color-gray, 20%);
      }
    }
  }
}

.layout__blackbg {
  background-color: $color-base;
}