@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  &__date {
    font-style: italic;
    text-align: center;
    margin: 0;
    font-size: $typographic-small-font-size;
  }
}
