@import '../../assets/scss/variables';
@import '../../assets/scss/functions';

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  background-color: map-get($colors, primary);
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
  transition: width 0.2s ease-in-out;
}
