@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/functions';

.socials {
  &__list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    padding: 0;

    &-item {
      padding: 0;
      margin: 4px;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: $button-height;
      width: $button-height;
      line-height: $button-height;
      border-radius: 50%;
      text-align: center;
      border: 1px solid $color-gray-bg;

      &-link {
        border: 0;
        display: flex;
        color: getColor(base);
        opacity: 0.6;

        &:hover,
        &:focus {
          color: getColor(primary);
        }
      }
    }
  }
}

@include breakpoint-sm {
  .socials {
    &__list {
      justify-content: flex-start;
      margin: 10px -3px;
    }
  }
}
