@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/functions';

.page,
.page-about {
  @include margin-bottom(2);

  &__inner {
    padding: 25px 20px;
    max-width: $layout-post-width;
    margin: 0 auto;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(1.45);
    text-align: center;
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);
  }

  &__home-button {
    display: block;
    max-width: 70px;
    height: $button-height;
    padding: 0 20px;
    line-height: $button-height;
    text-align: center;
    color: getColor(base);
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-right: auto;
    @include margin-bottom(1);

    &:hover,
    &:focus {
      color: getColor(primary);
    }
  }
}

@include breakpoint-sm {
  .page {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }
  }
  .page-about {
    margin: 0 auto;
    &__inner {
      padding: 30px 20px;
    }
  }
}

@include breakpoint-md {
  .page {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }
  }
}
