@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/functions';

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 10px 15px;
  }

  &__nav {
    max-width: $layout-post-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: map-get($colors, base);
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: getColor(primary);
    }

    span {
      color: getColor(base);
    }
  }
  &__share,
  &__edit {
    max-width: $layout-post-width;
    margin: 20px auto;
    padding: 0px 15px;
  }
}

@include breakpoint-md {
  .post {
    &__footer,
    &__nav,
    &__comments {
      padding: 0;
    }

    &__share,
    &__edit {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
