@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/functions';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        font-weight: normal;
        border: 0;
        color: getColor(base);

        &:hover,
        &:focus {
          color: getColor(primary);
          border-bottom: 1px solid getColor(primary);
        }

        &--active {
          color: getColor(base);
          border-bottom: 1px solid getColor(base);
        }
      }
    }
  }
}

@include breakpoint-sm {
  .menu {
    &__list {
      flex-direction: column;
    }
  }
}
